<div class="container-fluid" th:insert="../templates/header">...</div>
<!-- table -->
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Publisher</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.publisher}"></td>
    </tr>
    </tbody>
</table>
<div class="container-fluid" th:insert="../templates/footer">...</div>